
/*Navbar;*/
body{
    font-family: "Montserrat";
}

#menu .navbar{
  padding:1% 3%;
}

#menu .nav-link{
  margin-left: 20px;
  font-size: 1.1rem;
}

#menu .nav-brand{
  font-family: "Ubuntu";
  font-weight: 900;
  font-size: 2.5rem;
}
h1,h2,h3 {
  font-family: "Montserrat";
  font-weight: 900;
}



#content h1{
  text-align: center;
  margin: 2.5% auto;
}




.pad{
  padding: 7% 15%;
}


.page-img{
  opacity: 0.8;
}

#content hr{
    border: none;
    border-top: 5px solid red;
    margin:auto;
    width:8%;
}

.vl{
  text-align: justify;
}

/*breadcrumb*/

#bread{
  text-align: center;
  padding:5px 5px;
  background-color: #E2EEF6;
  font-size: 25px;
}

#bread a{
  text-decoration: none;
  color:#66BFBF;
}


#gallery-photo .modal-img{
  width: 100%;
}

/*A Footer*/

#footer{
  padding:3% 5%;
  background-color:#6c757d;
  text-align: center;
  font-size: 12px;
}

.footer-icon{
  margin: 0 10px 15px 0px;
}

.footer-icon:hover{
  color: #ff4c68;
}

i.iconIn{
  color: #ff4c68;
}


i.iconIn:hover{
  color:blue;
}

i.tIcon{
  color:#1DA1F2;
}



.footer-icon:hover{
  color: #ff4c68;
}



@media screen and (min-width:992px) {
  .vl{
    border-left: 3px solid red;
    position: relative;
    left: 5%;
    line-height: 2;
  }

  #content .vl {
    padding-left:5%;
  }

  .vl h2{
    margin-bottom:30px;
  }
}


@media screen and (max-width: 991.5px) {
  #content .vl{
    margin-top:50px
  }
}
