
body{
  margin : 0;
  padding:0;
  font-family:'Merriweather', serif;
  font-size: 20px;
  color:#40514E;
}
/*breadcrumb*/

#bread{
  text-align: center;
  padding:5px 5px;
  background-color: #E2EEF6;
  font-size: 25px;
}

#bread a{
  text-decoration: none;
  color:#66BFBF;
}


h1, h2{
  color:#66BFBF;
  text-align: center;
  margin: 45px auto;
}

h3{
  color:#66BFBF;
  text-align: left;
}

#intro{
  margin-top:60px;
}

h1 {
  text-align: center;
}



#basse img{
  margin-bottom:20px;
}


.ecart{
  margin : 4% auto;
}

#fouta .row{
  margin: 5% auto;
}

#mont .row{
  margin: 5% auto;
}

#mont p{
  width: 70%;
  margin :auto;
  text-align: center;
}


#footer{
  background-color: #66BFBF;
  padding: 3% 10%;
  color:#EAF6F6;
  font-size:0.75rem;
  margin-top:50px;
  text-align: center;
}

#gallery-photo .modal-img{
  width: 100%;
}


#footer a {
  text-decoration: none;
  margin: 15px;
  color:#11999E;
  font-size: 15px;
  font-weight: bolder;
}

#footer a:hover{
  color:#EAF6F6;
}

#footer p {
  margin-top: 20px;
  color : #EAF6F6;
}
