
body{
  margin : 0;
  padding:0;
  font-family:'Merriweather', serif;
  font-size: 20px;
  color:#40514E;
}


#title .container-fluid{
  background: black;
}

#title img{
  opacity: 0.8;
}


/*Animation*/

.welcome{
  margin-left: 15px;
  position: absolute;
  top : 40%;
  left: 20%;
}

.welcome .dynamic{
  height: 90px;
  line-height: 80px;
  overflow: hidden;
}



.dynamic li{
  list-style:none;
  font-size: 55px;
  font-weight: 500;
  color: #66BFBF;
  animation: slide 8s steps(4) infinite;
  position: relative;
  top:0;
  white-space: nowrap;
}

@keyframes slide {
  100%{
    top : -360px;
  }
}



/*breadcrumb*/

#bread{
  text-align: center;
  padding:5px 5px;
  background-color: #E2EEF6;
  font-size: 25px;
}

#bread a{
  text-decoration: none;
  color:#66BFBF;
}


h1, h2{
  color:#66BFBF;
  text-align: center;
  margin: 45px auto;
}

h3{
  color:#66BFBF;
  text-align: left;
}

#intro{
  margin-top:60px;
}

h1 {
  text-align: center;
}



#basse img{
  margin-bottom:20px;
}


.ecart{
  margin : 4% auto;
}

#fouta .row{
  margin: 5% auto;
}

#mont .row{
  margin: 5% auto;
}

#mont p{
  width: 70%;
  margin :auto;
  text-align: center;
}


#footer{
  background-color: #66BFBF;
  padding: 3% 10%;
  color:#EAF6F6;
  font-size:0.75rem;
  margin-top:50px;
  text-align: center;
}

#gallery-photo .modal-img{
  width: 100%;
}


#footer a {
  text-decoration: none;
  margin: 15px;
  color:#11999E;
  font-size: 15px;
  font-weight: bolder;
}

#footer a:hover{
  color:#EAF6F6;
}

#footer p {
  margin-top: 20px;
  color : #EAF6F6;
}
