
body{
  margin: 0;
  padding: 0;
  position: relative;
}
img{
  width: 100%;
  opacity: 0.3;
}
.black-background {
  width: 100%;
  background-color: black;
}

#bread{
  position: absolute;
  top:30px;
  text-align: center;
  font-size: 25px;
  color:#66BFBF;
  padding-top:5px;
  background-color: #E2EEF6;
  z-index:2;
}

#bread a{
  text-decoration: none;
  color:#66BFBF;
  margin: 5px;
}


.form-group{
  margin: 15px auto;
}
 form{
  width: 700px;
  height: 850px;
  background-color: #E6E6FA;
  border: 1px solid #E6E6FA;
  line-height: 2;
  margin: 7% auto;
}

.topHead{
  position: absolute;
  top : 0;
  z-index: 1;
}

#map{
  height: 400px;
  width: 100%;
}


h2{
  font-size: 14px;
  font-weight: 200;
}

.hd {
  background-color: #F7F7F7;
  padding: 20px;
}

.bd {
  padding: 30px 40px;
  color:rgb(51,51,51);
  font-size: 15px;
  font-weight: bold;
}

.bd button{
  font-size: 20px;
  padding: 2px 40px;
  margin:auto 5px;
}


/*A Footer*/

#footer{
  padding:2% 3%;
  background-color: #66BFBF;
  text-align: center;
  font-size: 12px;
  width: 100%;
  position: relative;
  z-index:3;

}

.footer-icon{
  margin: 0 10px 15px 0px;
}

.footer-icon:hover{
  color: #ff4c68;
}

i.iconIn{
  color: #ff4c68;
}


i.iconIn:hover{
  color:blue;
}

i.tIcon{
  color:#1DA1F2;
}



.footer-icon:hover{
  color: #ff4c68;
}
